<div class="wrapper">
  <%# ヘッダー部分 %>
  <header class="header ">
    <div class="header-inner">
      <h1 class="header-logo">
        <%= link_to "My portfolio", root_path %>
      </h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a class="link" href="#works">CONTENTS</a></li>
          <li class="header-nav-item"><a class="link" href="#about">ABOUT</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <%# /ヘッダー部分 %>
  <main class="content">
    <div class="new-form">
      
    </div>
  </main>
</div>