<div class="wrapper">
  <%# ヘッダー部分 %>
  <header class="header ">
    <div class="header-inner">
      <h1 class="header-logo">
        <%= link_to "My portfolio", root_path %>
      </h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item"><a class="link" href="#works">CONTENTS</a></li>
          <li class="header-nav-item"><a class="link" href="#about">ABOUT</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <%# /ヘッダー部分 %>
  <main class="content">
    <article class="article">
      <div class="article-inner">
        <h2 class="article-title">DesignXYZ様</h2>
        <p class="article-img">
          <%= image_tag 'notebook.jpg', class: "notebook-image" %>
        </p>
        <div class="article-body">
          <h3 class="article-info-title">アプリケーションのURL</h3>
          <p><a href="https://yahoo.co.jp" target="_blank" rel="noopener">https://yahoo.co.jp</a></p>
          <h3 class="article-info-title">GithubのURL</h3>
          <p><a href="https://yahoo.co.jp" target="_blank" rel="noopener">https://yahoo.co.jp</a></p>
          <h3 class="article-info-title">制作期間</h3>
          <p>デザイン・コーディング</p>
          <h3 class="article-info-title">ペルソナ</h3>
          <p>サービスの認知と新規クライアントの獲得</p>
          <h3 class="article-info-title">アプリケーションの目的</h3>
          <p>テキストが入りますテキストが入ります</p>
          <h3 class="article-info-title">アプリケーションの詳細</h3>
          <p>
            テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。<br>テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります。
          </p>
        </div>
        <div class="home-link">
          <%= link_to 'Contents一覧へ', root_path %>
        </div>
      </div>
    </article>
    <div class="page-top" id="js-page-top">
      <span class="material-icons-outlined">expand_less</span>
    </div>
  </main>
  <!-- footer -->
  <footer class="footer">
    <div class="copyright">&copy;TARO YAMADA</div>
  </footer>
  <!-- /footer -->
</div>